
<%= form_for(room, url: room_room_slots_path) do |r| %>
    <span style="display: inline-block;">
      <%= r.label :room, style: "display: inline-block; margin-right: 10px;" %>
      <%= r.select :name, room_names , {style: "display: inline-block; margin-right: 10px;"} %>
      <%= r.hidden_field :day , :value => day %>
      <%= r.hidden_field :date , :value => date %>
      <%= r.submit 'Check availability', style: "display: inline-block;" %>
    </span>
 <% end %>