<% if day.present? || date.present? || (room.present? && slots.present?) %>
  <%= form_for(slot, url: room_make_booking_path) do |form| %>
    <table>
      <tr>
        <th>Start Time</th>
        <th>Booked by</th>
        <th>Select</th>
      </tr>
      <% slots.each do |s| %>
        <tr>
          <td><%= s.time %></td>
          <td>-</td>
          <td>
            <%= form.hidden_field :day, value: day %>
            <%= form.hidden_field :date, value: date %>
            <%= form.hidden_field :room, value: room.id %>
            <%= form.radio_button :slot_id, s.id , id: "radio_hit_#{val = val + 1}" %>
          </td>
        </tr>
      <% end %> 
        <tr id = "show_name_field">
            <td colspan="4">
                <%= form.label :name %>
                <%= form.text_field :name %>
            </td>
        </tr>
        <tr id = "show_email_field">
            <td colspan="4">
                <%= form.label :email %>
                <%= form.text_field :email %>
            </td>
        </tr>
      <tr>
        <td colspan="4">
          <%= form.submit "Make Booking" %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>


<script>
$(document).ready(function(){
    $("#show_name_field").hide();
    $("#show_email_field").hide();
    $("#radio_hit_1").change(function(){
        $("#show_name_field").show();
        $("#show_email_field").show();
    })

    $("#radio_hit_2").change(function(){
        $("#show_name_field").show();
        $("#show_email_field").show();
    })

    $("#radio_hit_3").change(function(){
        $("#show_name_field").show();
        $("#show_email_field").show();
    })

    $("#radio_hit_4").change(function(){
        $("#show_name_field").show();
        $("#show_email_field").show();
    })
})
</script>