
<% if date && day %>
<span> Date: <%= date %></span> <br>
<span> Day: <%= day %></span> <br><br>



<%= form_for(room, url: root_path) do |r| %>
   <%= r.label :room %>
   <%= r.select :name , room_names %>
<% end %>




<% end %>